body, html {
    height: 100%;
    margin: 0;
    min-width: 320px;
}

.background {
    height: 100%;
    background: url("https://i.pinimg.com/564x/5b/4a/76/5b4a76f06aa9eb06e96b29b984878853.jpg") center no-repeat;
    background-size: cover;
    filter: blur(4px);
    -webkit-filter: blur(4px);
}

.foreground {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    text-align: center;
    border-radius: 8px;
    min-width: 320px;
}

.name {
    font-family: 'Courier New', monospace;
}

.spotify {
    border-radius: 8px;
    min-width: 320px;
}
